body{
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
}


#app{
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}
#content{
  margin-top:  20px;
}
#content div{
  display: flex;
  justify-content: space-around;
}
#content #data{
  flex-direction: column;

}

#content #data div{
 
  


}